<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArduinoSensorRecord.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="20000"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="4000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ArduinoSensorRecord.Properties.Settings>
          <setting name="jpg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="png" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jpeg" serializeAs="String">
                <value>False</value>
            </setting>
        </ArduinoSensorRecord.Properties.Settings>
    </userSettings>
</configuration>